.App{
  padding:1em;
}

h1,h3{
  text-align: center;
}

button{
  background-color: green;
  margin-top: 1em;
  color: aliceblue;
  font-size: 1.1em;
  border: none;cursor: pointer;
  padding:.5em;
  width: 200px;
  margin: 0 auto;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input{
  padding:1em;
  color:rgb(87, 85, 85);
  margin: 0 1em;
}

label{
  margin: 0 1em;
}